*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
}

body{
    color: var(--main-color);
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
    font-family: var(--main-font);
    overflow-x: hidden;

}

:root{
    --main-color: #A3A5A7;
    --heading-color: #1D2043;
    --primary-color: #DF5646;
    --light-color: #FAFAFA;
    --main-font: 'Poppins', sans-serif;
    --heading-font: 'Playfair Display', serif;
}


/* header */

/* Nav Brand */
.brand{
    position: fixed;
    left: 50px;
    top: 35px;
}

.brand-name{
    color: var(--heading-color);
}

.brand-name b{
    font-weight: 500;
}

a{
    text-decoration: none;
}

a:hover{
    color: var(--primary-color);
}

.brand-icon{
    position: fixed;
    top: 55px;
    left: 94px;
    width: 24px;
    height: 24px;
    background-image: url(images/brand-icon.png);
    background-repeat: no-repeat;
}


/* Nav Chat */
.chat{
    position: fixed;
    top: 35px;
    right: 130px;
    display: flex;
    align-items: center;
    z-index: 1;
}

.chat span{
    font-size: 0.75rem;
    color: var(--heading-color);
}

.chat-button{
    width: 34px;
    height: 34px;
    background-color:white;
    margin-left: 20px;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(116, 116, 116, 0.16);
}

.rocket-icon{
    font-size: 1rem;
}


/* Nav Menu */
.menu-btn{
    position: fixed;
    top: 35px;
    right: 50px;
    background-color: transparent;
}

.menu-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 24px;
    height: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.menu-icon span{
    height: 2px;
    width: 100%;
    background-color: black;
}

.menu-icon .medium-line{
    width: 83%;
}

.menu-icon .bottom-line{
    width: 60%;
}

.main-menu{
    padding: 35px;
    font-size: 18px;
    font-weight: 700;
    color: var(--heading-color);
}

/* Menu Content */
.no-style{
    list-style: none;
}

.menu-lang{
    font-size: .875rem;
    text-transform: uppercase;
    font-weight: 600;
}

.lang-list li{
    padding-right: 24px;
}

.menu-content{
    margin-top: 100px;
    position: fixed;
    top: 100px;
    bottom: 0;
    width: 23%;
    padding-bottom: 60px;
}

.main-menu-list{
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow-y: scroll;
}

.list-item{
    margin-bottom:20px ;
}

.close-btn{
    color: var(--heading-color);
    position: relative;
    top: 50px;
    left: 320px;
}

.btn-close{
    opacity: 1!important;
}

.offcanvas-body{
    padding: 0!important;
}

.main-menu-list .active{
    background-color: #fcf1e7;
    box-shadow: #fcf1e7 0 0 0 2px;
}

.list-link{
    color: var(--heading-color);
}

.list-link:hover{
    background-color: #fcf1e7;
    box-shadow: #fcf1e7 0 0 0 2px;
    color: var(--heading-color);
}


/* Nav-contact */
.nav-contact{
    position: relative;
    top: 35px;
    left: 20%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 400;
    color: var(--heading-color);

}

li{
    list-style: none;
}

.num-email li{
    padding-right: 40px;
    margin-right: 40px;
    position: relative;
}

li, a{
    color: var(--heading-color);
}



/* hero about me */
.hero-heading{
    position: relative;
    bottom: 35px;
    left: 43px;
}

.hero-image{
    position: relative;
    bottom: 49px;
    left: 43px;
}

.h1-heading{
    font-size: 68px;
    font-weight: 700;
    font-family: var(--heading-font);
    color: var(--heading-color);
}

.inverted-text{
    color: var(--primary-color);
}

.h3-heading{
    font-size: 31px;
    color: var(--heading-color);
    margin-bottom: 20px;
    font-weight: 400;
}

.normal-text{
    font-size: 18px;
    color: var(--main-color);
}

.inverted-text-2{
    color: var(--heading-color);
    font-weight: 500;
}

.shape1-pos{
    position: absolute;
    bottom: 84%;
    right: 66%;
    max-width: 15%;
}

.shape2-pos{
    position: absolute;
    bottom: 94%;
    left: 56%;
    max-width: 10%;
}


/* line box */
.line-box{
    display: flex;
    align-items:center;
}

.box-text{
    font-size: 14px;
    font-weight: 500;
    color: var(--primary-color);
    background-color:#FBF1E7;
    padding: 0px 15px;
    margin-left: 20px;
}

.line{
    content: " ";
    width: 38px;
    height: 1.5px;
    background-color:#707070;
}

.pt-100{
    padding-top: 100px;
}



/* about-btn */
.about-btn{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 150px;
    height: 50px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 14px;
    padding: 8px 10px 10px 20px;
    margin-top: 45px;

}

@media (max-width:1200px) {
    .h1-heading{
        font-size: 55px;
    }
}

@media (max-width: 990px) {
    .nav-header{
        position: fixed;
        width:100%;
        height: 90px;
        background-color: var(--light-color);
        box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 10%);
        z-index: 5;
    }
}