*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
}

body{
    color: var(--main-color);
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
    font-family: var(--main-font);
    /* overflow-x: hidden; */

}

:root{
    --main-color: #A3A5A7;
    --heading-color: #1D2043;
    --primary-color: #DF5646;
    --light-color: #FAFAFA;
    --main-font: 'Poppins', sans-serif;
    --heading-font: 'Playfair Display', serif;
    --base-color:#FAFAFA;
}


/* header */
.nav-header{
    position: fixed;
    width:100%;
    height: 90px;
    /* background-color: var(--light-color);
    box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 10%); */
    z-index: 5;
}

/* Nav Brand */
.brand{
    position: fixed;
    left: 50px;
    top: 35px;
}

.brand-name{
    color: var(--heading-color);
}

.brand-name b{
    font-weight: 500;
}

a{
    text-decoration: none;
}

a:hover{
    color: var(--primary-color);
}

.brand-icon{
    position: fixed;
    top: 55px;
    left: 94px;
    width: 24px;
    height: 24px;
    background-image: url(images/brand-icon.png);
    background-repeat: no-repeat;
}


/* Nav Chat */
.chat{
    position: fixed;
    top: 35px;
    right: 130px;
    display: flex;
    align-items: center;
    z-index: 1;
}

.chat span{
    font-size: 0.75rem;
    color: var(--heading-color);
}

.chat-button{
    width: 34px;
    height: 34px;
    background-color:white;
    margin-left: 20px;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(116, 116, 116, 0.16);
}

.rocket-icon{
    font-size: 1rem;
}


/* Nav Menu */
.menu-btn{
    position: fixed;
    top: 35px;
    right: 50px;
    background-color: transparent;
}

.menu-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 24px;
    height: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.menu-icon span{
    height: 2px;
    width: 100%;
    background-color: black;
}

.menu-icon .medium-line{
    width: 83%;
}

.menu-icon .bottom-line{
    width: 60%;
}

.main-menu{
    padding: 35px;
    font-size: 18px;
    font-weight: 700;
    color: var(--heading-color);
}

/* Menu Content */
.no-style{
    list-style: none;
}

.menu-lang{
    font-size: .875rem;
    text-transform: uppercase;
    font-weight: 600;
}

.lang-list li{
    padding-right: 24px;
}

.menu-content{
    margin-top: 100px;
    position: fixed;
    top: 100px;
    bottom: 0;
    width: 255px;
    padding-bottom: 60px;
}

.main-menu-list{
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow-y: auto;
}

.list-item{
    margin-bottom:20px ;
}

.close-btn{
    color: var(--heading-color);
    position: absolute;
    top: 35px;
    right: 10%;
}

.btn-close{
    opacity: 1!important;
}

.offcanvas-body{
    padding: 0!important;
}

.offcanvas-menu{
    border: none!important;
}

.main-menu-list .active{
    background-color: #fcf1e7;
    box-shadow: #fcf1e7 0 0 0 2px;
}

.list-link{
    color: var(--heading-color);
}

.list-link:hover{
    background-color: #fcf1e7;
    box-shadow: #fcf1e7 0 0 0 2px;
    color: var(--heading-color);
}


/* Nav-contact */
.nav-contact{
    position: relative;
    top: 35px;
    left: 20%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 400;
    color: var(--heading-color);

}

li{
    list-style: none;
}

.num-email li{
    padding-right: 40px;
    margin-right: 40px;
    position: relative;
}

li, a{
    color: var(--heading-color);
}



/* hero about me */
.hero-heading{
    position: relative;
    bottom: 35px;
    left: 43px;
}

.hero-image{
    position: relative;
    bottom: 49px;
    left: 43px;
}

.h1-heading{
    font-size: 68px;
    font-weight: 700;
    font-family: var(--heading-font);
    color: var(--heading-color);
}

.inverted-text{
    color: var(--primary-color);
}

.h2-heading{
    font-size: 35px;
    font-weight: 700;
    font-family: var(--heading-font);
    color: var(--heading-color);
}

.h3-heading{
    font-size: 31px;
    color: var(--heading-color);
    margin-bottom: 20px;
    font-weight: 400;
}

.normal-text{
    font-size: 18px;
    color: var(--main-color);
}



.inverted-text-2{
    color: var(--heading-color);
    font-weight: 500;
}

.shape1-pos{
    position: absolute;
    bottom: 84%;
    right: 66%;
    max-width: 15%;
}

.shape2-pos{
    position: absolute;
    bottom: 94%;
    left: 56%;
    max-width: 10%;
}


/* line box */
.about-line-box{
    display: flex;
    align-items:center;
    position: relative;
    bottom: 20px;
    right: 55px;
}

.box-text{
    font-size: 14px;
    font-weight: 500;
    color: var(--primary-color);
    background-color:#FBF1E7;
    padding: 0px 15px;
    margin-left: 20px;
}

.line{
    content: " ";
    width: 38px;
    height: 1.5px;
    background-color:#707070;
    margin-left: 60px;
}.p-text{
    font-size: 16px;
    color: var(--main-color);
}

/* padding */
.pb-100{
    padding-bottom: 100px;
}


.pt-100{
    padding-top: 100px;
}

.mt-100{
    margin-top: 100px;
}


/* about-btn */
.about-btn{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 150px;
    height: 50px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 14px;
    padding: 8px 10px 10px 20px;
    margin-top: 45px;

}

/* Services Section */
.service-section{
    background-color: var(--base-color);
}

.services{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 45px;
    position: relative;
    bottom: 25px;
}
.service-item{
    width: 45%;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.service-item .service-img {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    text-align: center;
    margin-right: 15px;
    flex:none;
    background: #78ADD9;
    padding-top: 4px;
}

img{
    max-width: 100%;
    display: inline-block;
}

.service-text{
    color: var(--heading-color);
    font-size: 20px;
    font-family: var(--main-font);
    font-weight: 500;
}

.service-heading{
    position: relative;
    top: 60px;
    right: 30px;
}


.service-line-box{
    display: flex;
    align-items:center;
    position: relative;
    top: 50px;
}

/* .h-service-img{
    position: relative;
    top: 25px;
    left: 20px;
} */

/*Skills-Section  */

.skill-heading{
    position: relative;
    top: 100px;
    left: 15px
}

.skill-line-box{
    display: flex;
    align-items:center;
    position: relative;
    top: 140px;
    right: 33px;
}

.progress-bar-group{
    position: relative;
    top: 120px;
    right: 30px;
}

.progressbar{
    height: 8px!important;
    margin-left: 40px;
}


.progress-bar{
    background-color: #75a9d6;
}

.percentage{
    text-align: right;
    font-size: 12px;
}

.bar-item-title{
    color: var(--heading-color);
    font-weight: 500;
    font-size: 14px;
    padding-left: 55px;
    padding-top: 10px;
}

.skill-text{
    font-size: 16px;
    color: var(--main-color);
    margin-bottom: 0!important;
}

.h-skills-img{
    position: relative;
    top: 0px;
    left: 40px;
    padding-top:140px
}

/* information section */
.information{
    background-color: var(--base-color);
}

.info-line-box1{
    display: flex;
    align-items: center;
    position: relative;
    right: 58px;
    bottom: 24px;
}

.info-line-box2{
    display: flex;
    align-items: center;
    position: relative;
    right: 58px;
    bottom: 24px;
}

.year{
    color: var(--heading-color);
    font-size: 16px;
    padding-right: 20px;
}

.edu-text{
    display: flex;
    flex-wrap: wrap;
    width: 21rem;
}

.behance-text{
    width: 23rem;
}

.dribble-text{
    width: 23rem;
}


.education{
    max-width: 485px;
}

.info-heading{
    font-size: 35px;
    font-weight: 700;
    font-family: var(--heading-font);
    color: var(--heading-color);
}


.content{
    padding-left: 20px;
    padding-bottom: 40px;
}

.h4-heading{
    font-size: 20px;
    font-weight: 500;
    color: var(--heading-color);
}

.h6-heading{
    color: #78ADD9;
    font-weight: 400;
    margin-bottom: 20px;
}


.be-inverted-text{
    font-weight: 400;
    color: #0055FF;
}

.db-inverted-text{
    font-weight: 400;
    color: #D534A5;
}

.inverted-text-3{
    color: var(--primary-color);
    font-weight: 400;
}


.db-year{
    color: var(--heading-color);
    font-size: 16px;
    padding-right: 16px;
}




/* Portfolio section */

/* .stats{
    position: relative;
    top: 26px;
    left: 128px;
} */

.stats span{
    padding-right: 20px;
    padding-left: 20px;
    color: var(--primary-color);
}

.exp-stat{
    margin-top: 50px;
    /* max-width: 200px; */
    margin-right: 50px;
}



.clients-stat{
    margin-top: 50px;
    /* max-width: 200px; */
    margin-right: 50px;
}

.stats-content{
    line-height: 1;
    font-size: 48px;
    font-weight: 400;
    margin-right: 15px;
}
.link-text{
    font-weight: 500;
}


.project-image1{
    padding: 30px;
    width: 38.43rem;
}

.project-image2{
    padding: 30px;
    width: 38.43rem;
}

.portfolio-img{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 15px 25px rgb(155 155 155 / 16%);
}

.heading-stats{
    position: relative;
    left: 25px;
}


/* testimonial section */

.testimonial-section{
    background-color: var(--base-color) ;
}

.h5-heading{
    font-size: 18px;
    color: var(--heading-color);
}


.testimonial-image{
    position: relative;
}

.testimonial-image .t-img1{
    position: absolute;
    top: 17%;
    left: 6%;
    max-width: 30%;
}

.testimonial-image .t-img2{
    position: absolute;
    bottom: 71%;
    left: 74%;
    max-width: 30%;
}

.testimonial-heading{
    max-width: 78%;
    margin-left: 55px;
}


@media (max-width:1200px) {
    .h1-heading{
        font-size: 55px;
    }
}

@media (max-width: 990px) {
    .nav-header{
        position: fixed;
        width:100%;
        height: 90px;
        background-color: var(--light-color);
        box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 10%);
        z-index: 5;
    }
}

@media (max-width:480px) {
    .service-item{
        width: 100%;
    }    
}

@media (max-width: 775px) {
    .project-image1{
        display: none;
    }
}